* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1 0 auto;
    background-color: rgba(0, 255, 255, 0.226);
}

aside {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: rgba(222, 184, 135, 0.247);
    padding: 0 30px;
}

footer {
	display: flex;
    margin-top: auto;
    background-color: rgba(210, 105, 30, 0.308);

}

section.content {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    border: 1px solid green;
}

section.content .music-head {
    flex: 0 0 280px;
    display: flex;
    border: 1px solid black;
    padding: 30px;
}

section.content .music-head .catty-music {
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    border: 1px solid red;
    padding-left: 30px;
}

.catty-music div:nth-child(1) {
    border: 1px solid green;
    margin-bottom: auto;
}

.catty-music div:nth-child(2) {
    margin-top: 0;
    border: 1px solid greenyellow;
}




.music-list li:nth-of-type(2n) {
    background-color: rgba(172, 255, 47, 0.473);
}

.music-list {
    border: 0;
    margin: 0;
    border: 1px solid red;
    flex: 1 0 auto;
    background-color: rgba(153, 50, 204, 0.247);
}

.music-list li {
    border: 1px solid black;
    display: flex;
}

.music-list li p {
	border: 1px dotted black;
	flex: 0 0 25%;
}

/*FOOTER*/
.catty-music-small {
	display: flex;
	border: 1px solid black;
	padding: 10px;
}

.catty-music-controls {
	margin-left: auto;
	border: 1px solid black;
	width: 50%;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.catty-music-controls i {
	border: 1px dotted black;
}